.app-product-container {
  display: grid;
  grid-template-columns: auto;

  &__block-product {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  &__block-btns {
    display: flex;
    align-items: center;
    justify-content: center;

    &__btns {
      padding: 15px 40px;
      margin: 5px;
      background: linear-gradient(145deg, #dcbdbd, #b99f9f);
      border: none;
      text-transform: uppercase;
      border-radius: 5px;

      border-radius: 50px;
      background: #e0e0e0;
      box-shadow: inset -20px 20px 60px #bebebe, inset 20px -20px 60px #ffffff;
    }
  }
}
