@import "~style/root";
.todoList-container {
  width: 500px;
  min-height: 100px;
  background-color: $postsColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  border-radius: 13px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  &:hover &__remov-icon {
    right: 10px;
    transition: 0.5s;
  }
  &__checkbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__btn {
      background-color: transparent;
      border: none;
      text-align: left;
      text-transform: uppercase;
      font-size: 13px;
      margin: 3px;
      color: black;
      cursor: pointer;
      font-weight: bold;
      border-left: 1px solid transparent;

      &:hover {
        border-left: 1px solid #000;
      }
    }
  }
  &__title {
    width: 60%;
    font-size: 19px;
    color: #28527a;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__remov-icon {
    position: absolute;
    right: -20px;
    transition: 0.5s;
    color: $primaryColor;
    cursor: pointer;
    &:hover {
      transition: 0.2s;
      transform: rotate(360deg) scale(1.5);
      color: coral;
    }
  }
}
.done {
  background-color: #7ea04d;
}
