@import "~style/_root";

.app-product-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $secondaryColor;
  &__modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__block {
      background-color: $secondaryColor;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 450px;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      padding: 10px;
      &__input {
        color: black;
      }
      &__titil {
        font-size: 25px;
        color: $primaryColor;
        font-weight: bold;
      }
    }
  }
  &__loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondaryColor;
  }
  &__btn-block {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__setting {
      color: $primaryColor;
      margin: 0 10px;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        transform: rotate(180deg);
        transition: 0.5s;
      }
    }
    &__btns {
      margin-left: 10px;
      border-radius: 7px;
      border: none;
      padding: 5px 15px;
      background-color: transparent;
      color: $primaryColor;
      font-weight: bold;
      &:hover {
        border-bottom: 1px solid $textColor;
        color: $primaryColor;
      }
    }
  }
  &__block-product {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    &__get-more {
      padding: 5px;
      width: 150px;
      margin-bottom: 20px;
      background-color: transparent;
      border: none;
      border-radius: 10px;
      color: $primaryColor;
      font-weight: bold;
      border: 2px solid $textColor;
      &:hover {
        border: 2px solid $primaryColor;
        color: $textColor;
      }
    }
  }
  &__block-btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
