@import "~style/_root";

.app-product-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url(../../assets/BGPOST.jpg);
  &__modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__block {
      background-color: $secondaryColor;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 450px;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      padding: 10px;
      &__input {
        color: black;
      }
      &__titil {
        font-size: 25px;
        color: $primaryColor;
        font-weight: bold;
      }
    }
  }
  &__loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/BGPOST.jpg);
  }
  &__btn-block {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__btns {
      margin-left: 10px;
      border-radius: 5px;
      border: none;
      padding: 3px 10px;
      color: $primaryColor;
      font-weight: bold;
      border-bottom: 4px solid transparent;
      &:hover {
        border-bottom: 4px solid $primaryColor;
      }
    }
  }
  &__block-product {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    transition: 0.9s;
    &__get-more {
      padding: 5px;
      width: 150px;
      margin-bottom: 20px;
      background-color: white;
      border: none;
      border-radius: 10px;
      color: $primaryColor;
      font-weight: bold;
      border-bottom: 4px solid transparent;
      &:hover {
        border-bottom: 4px solid $primaryColor;
      }
    }
  }
  &__block-btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
