.app-product-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #00457c;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  &__modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__block {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 350px;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      padding: 10px;
      &__input {
        color: black;
      }
    }
  }
  &__loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn-block {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__setting {
      color: white;
      margin: 0 10px;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        transform: rotate(180deg);
        transition: 0.5s;
      }
    }
    &__btns {
      margin-left: 10px;
      border-radius: 7px;
      border: none;
      padding: 5px 10px;
      transition: all 0.5s;
    }
  }
  &__block-product {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    &__get-more {
      padding: 5px;
      width: 150px;
      margin-bottom: 20px;
    }
  }
  &__block-btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
