@import "~style/root";

.app-signup-container {
  width: 400px;
  height: 550px;
  border: 1px solid #04527f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  backdrop-filter: blur(4px);
  color: white;
  &__block {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  &__errorText {
    font-size: 12px;
    color: red;
    font-weight: bold;
    text-align: center;
  }
  &--errorClass {
    border-bottom: 1px solid red;
  }
  &__title-page {
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    margin: auto;
  }
  &__btn {
    width: 100px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid #04527f;
    margin: auto;
    &:hover {
      width: 75px;
      cursor: pointer;
    }
  }
  &__checkbox {
    margin: 20px 0;
    & span {
      font-size: 12px;
    }
  }
}
