@import "~style/root";

.app-signup-container {
  width: 400px;
  height: 550px;
  border: 1px solid #04527f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  backdrop-filter: blur(4px);
  color: white;
  &__block {
    display: flex;
    flex-direction: column;
    &__VisibilityIcon {
      position: relative;
      top: 235px;
      left: 190px;
      color: grey;
    }
    &__AlternateEmailIcon {
      position: relative;
      top: 150px;
      left: 190px;
      color: grey;
    }
    &__AssignmentIndIcon {
      position: relative;
      top: 70px;
      left: 190px;
      color: grey;
    }
    &__Forgot-Password-Block {
      display: flex;
      justify-content: center;
      align-items: center;
      &__checkbox {
        width: 30px;
      }
    }
  }
  &__errorText {
    font-size: 12px;
    color: red;
    font-weight: bold;
    text-align: center;
  }
  &--errorClass {
    border-bottom: 1px solid red;
  }
  &__title-page {
    font-size: 30px;
    letter-spacing: 5px;
    // margin-bottom: 40px;
    margin: auto;
  }
  &__btn {
    width: 100px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid #04527f;
    margin: 45px auto;
    &:hover {
      width: 75px;
      cursor: pointer;
    }
  }
}

@include media(mobile) {
  .app-signup-container {
    width: 250px;
  }
}

@include media(mobile-large) {
  .app-signup-container {
    width: 250px;
  }
}
