@import "~style/root";

.app-header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-size;
  z-index: 100;
  padding: 5px 0;
  background-color: transparent;
  transition: 0.5s;
  &__logOute {
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
  }
  &__block {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: url(../../assets/logoPen.jpg);
      background-position: center;
      background-size: 80%;
      background-repeat: no-repeat;
    }
  }
  &__nav {
    &__list {
      display: flex;
      align-items: center;
      & li {
        margin-left: 10px;
      }
    }
  }
}

.activHeader {
  width: 100%;
  height: $header-size;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
