@import "~style/root";
.error-container {
  color: $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $secondaryColor;
  &__block {
    background-size: cover;
    text-align: center;
    &__status {
      font-size: 50px;
      padding: 10px;
      color: red;
    }
    &__errText {
      font-size: 50px;
      padding: 10px;
    }
  }
}
