.post-container {
  margin: 10px;
  width: 300px;
  height: 400px;
  padding: 30px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
  border-radius: 20px;
  background: #e0e0e0;
  &:hover {
    border-radius: 20px;
    transform: scale(1.01);
    transition: 0.2s;
  }
  &:hover &__btn {
    bottom: 10px;
    transition: all 0.1s;
  }
  &__title {
    font-size: 20px;
    padding-bottom: 25px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__body {
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    color: grey;
  }
  &__btn {
    display: block;
    width: 50px;
    margin: auto;
    background-color: transparent;
    border: none;
    color: black;
    position: absolute;
    left: 120px;
    bottom: -35px;
    transition: all 0.9s;
    &:hover {
      transform: rotate(360deg) scale(1.5);
      color: lightcoral;
    }
  }
}
