@import "~style/root";

.app-todo-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background-color: $secondaryColor;
  color: $postsColor;
}
